# Ignorar o ambiente virtual
venv/
.venv/

# Ignorar arquivos e pastas do VS Code
.vscode/
*.code-workspace

# Ignorar outros diretórios e arquivos comuns que não devem ser versionados
__pycache__/
*.pyc
.DS_Store
.idea/
*.iml
*.log

node_modules

# Diretório para uso pessoal
_apoio

# Diretórios do backend para testes internos
back_end/src/_tests
back_end/src/files