# Ignorar o ambiente virtual
venv/
.venv/

# Ignorar arquivos e pastas do VS Code
.vscode/
*.code-workspace

# Ignorar outros diretórios e arquivos comuns que não devem ser versionados
__pycache__/
*.pyc
.DS_Store
.idea/
*.iml
*.log

node_modules
